
/Lab01/Lab01.X/build/
/Lab01/Lab01.X/dist/
/Lab02/Lab02.X/build/
/Lab02/Lab02.X/dist/
/Lab03/Lab03.X/build/
/Lab03/Lab03.X/dist/
/Lab04/Lab04.X/build/
/Lab04/Lab04.X/dist/
/Lab05/Lab05.X/build/
/Lab05/Lab05.X/dist/